.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 700px; /* Unnecessary. Added to stop breaking while resizing. */
  padding: 10px; /* Forgot to add padding */
  
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding: 0px;
  gap: 10px;
  margin: 0px; /* First edit: Originally was set to 8px, default seemed like 0 even though the instructions stated that ul's have margin by default. Second edit: ul's didn't align properly with the edge because of the header padding. */
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
